@model IList<ConstructionDiary.ViewModels.UserAccountIndexViewModel>
@{
    string username = (string)ViewData["username"];
    DateTime? birthDate = null;
    if (ViewData["birthDate"] != null)
    {
        birthDate = (DateTime)ViewData["birthDate"];
    }
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="col-sm-7 col-md-8 col-lg-9">
                <form asp-action="" method="get">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label for="userName">Korisnicko ime</label>
                            @*<input name="userName" type="text" id="userName"  />*@
                            <input asp-for="@username" class="form-control" />
                            <input asp-for="@birthDate" class="form-control" type="date" />
                            <input type="submit" value="Filter" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Ime i prezime
            </th>
            <th>
                Korisničko ime
            </th>
            <th>
                Email
            </th>
            <th>
                Datum rođenja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstNameLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @*   @Html.DisplayFor(modelItem => item.BirthDate)*@
                </td>
                <td>
                    @if (!item.HasResetPassword)
                    {
                        @Html.ActionLink("Poništi password", "ResetPassword", new { userId = item.Id })
                    }
                    else
                    {
                        <p>@item.NewPassword</p>
                    }

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { userId = item.Id }) |
                    @Html.ActionLink("Izbriši", "Delete", new { userId = item.Id })
                </td>
            </tr>
        }
        <tr></tr>
    </tbody>
</table>
<input type="button" class="btn btn-primary" value="Dodaj" onclick="location.href='@Url.Action("AddUser", "UserAccounts")'" />



