@model DataLayer.Models.Location
@{
    bool notEditable = (bool)ViewData["IsDetails"];
    double? defaultLatitude = Model?.Latitude != null && Model.Latitude != 0 ? Model.Latitude : 48.13954;
    double? defaultLongitude = Model?.Longitude != null && Model.Longitude != 0 ? Model.Longitude : 11.42894;
}
<div class="location-map" id="location-map"></div>
<input type="hidden" value="@defaultLatitude" id="defaultLatitude" />
<input type="hidden" value="@defaultLongitude" id="defaultLongitude" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACtbHC31aJwsZcofMtPIAHL_xX_GtutSk&callback=initializeMap"
        type="text/javascript"></script>
<script>
    $(document).ready(
        function () {
            $.validator.setDefaults({
                ignore: ""

            });
        },
        false);
    var initialLatitude = document.getElementById("defaultLatitude").value;
    var initialLongitude= document.getElementById("defaultLongitude").value;
    var $latitudeInput;
    var $longitudeInput;
    var initialMarkerLat = @(Model?.Latitude ?? 0)
    var initialMarkerLng = @(Model?.Longitude ?? 0);
    var editable ='@(notEditable)' === '@false'
    var map;
    var marker = null;
    function initializeMap() {
        $latitudeInput = $("#site_latitude");
        $longitudeInput = $("#site_longitude");
        var myLatlng = new window.google.maps.LatLng(initialLatitude, initialLongitude);
        var myOptions = {
            zoom: 11,
            center: myLatlng,
            mapTypeId: window.google.maps.MapTypeId.ROADMAP
        }
        map = new window.google.maps.Map(document.getElementsByClassName("location-map")[0], myOptions);

        if (initialMarkerLat && initialMarkerLng) {
            var initialMarkerCoords = new window.google.maps.LatLng(initialMarkerLat, initialMarkerLng);
            marker = new window.google.maps.Marker({
                position: initialMarkerCoords,
                map: map
            });
        }

        if (editable) {
            window.google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });
        }
    }

    function placeMarker(location) {
        if (marker !== null) {
            marker.setMap(null);
        }
        $latitudeInput.val(location.lat()).trigger("change");
        $longitudeInput.val(location.lng()).trigger("change");
        $latitudeInput.valid();
        $longitudeInput.valid();
        marker = new window.google.maps.Marker({
            position: location,
            map: map
        });

        map.setCenter(location);
    }
</script>
