@model ConstructionDiary.ViewModels.WorkersListViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Lista radnika</h2>

<p>
    <a asp-action="Create">Dodaj novog radnika</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].JobDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].TelephoneNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ukloni</a>
            </td>
        </tr>
}
    </tbody>
</table>
