@model IList<ConstructionDiary.ViewModels.UserAccountIndexViewModel>
@{
    string username = (string)ViewData["username"];
    DateTime? birthDate = null;
    if (ViewData["birthDate"] != null)
    {
        birthDate = (DateTime)ViewData["birthDate"];
    }
}
<div style="margin-top:50px;"class="z-depth-4 panel panel-default">
    <div class="panel panel-heading">
        <label>Filtriranje</label>
    </div>
    <div class=" panel panel-body">
        <form asp-action="" method="get">
            <div class="input-field col s6">
                <input asp-for="@username" class="form-control" />
                <label for="userName">Korisnicko ime</label>
            </div>
            <div class="input-field col s6">
                <input asp-for="@birthDate" type="date" />
                <label for="birthDate" class="active">Datum rođenja</label>
            </div>
            <input type="submit" value="Filter" class="btn btn-default" />
        </form>
    </div>
</div>

<div style="margin-top:50px;" class=" z-depth-4 container-fluid">
    <div class="row">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        Ime i prezime
                    </th>
                    <th>
                        Korisničko ime
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Datum rođenja
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstNameLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                               @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @if (!item.HasResetPassword)
                            {
                                @Html.ActionLink("Poništi password", "ResetPassword", new { userId = item.Id })
                            }
                            else
                            {
                                <p>@item.NewPassword</p>
                            }

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { userId = item.Id }) |
                            @Html.ActionLink("Izbriši", "Delete", new { userId = item.Id })
                        </td>
                    </tr>
                }
                <tr></tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <input type="button" class="btn btn-primary" value="Dodaj" onclick="location.href='@Url.Action("AddUser", "UserAccounts")'" />

    </div>
</div>




